{% zendeskData zendesk %}
{{ content | safe }}

{% if zendesk.article_id %}
<hr><a href="https://github.com/NabuCasa/support/blob/main/content/src{{ page.filePathStem }}.md" class="gh-edit"
  target="_blank">Edit this article on GitHub</a>
{% endif %}