/***** Hero component *****/
section.section.hero {
  margin-bottom: 0;
}

.hero {
  background-image: url($assets-hero-webp);
  background-position: center;
  background-size: cover;
  padding: 36px 0px;
  text-align: center;
  width: 100%;

  @include tablet {
    padding: 88px 0px;
  }

  &-inner {
    position: relative;
  }

  &-inner h2 {
    font-size: 48px;
    line-height: 1;
    margin: 0 0 1rem 0;
  }

  &-inner h2 {
    @include tablet {
      font-size: 74px;
    }
  }

  &-inner p {
    max-width: 800px;
    margin: 0 auto;
    text-wrap: balance;
    font-size: 18px;

    @include tablet {
      font-size: 24px;
    }
  }

  .search-wrapper {
    margin-top: 32px;

    @include tablet {
      margin-top: 80px;
    }
  }
}