/***** Item Cards *****/
$icon-images: (
  "Home Assistant Green": "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44' fill='none'%3E%3Cpath d='M40 0H4C1.79086 0 0 1.79086 0 4V40C0 42.2091 1.79086 44 4 44H40C42.2091 44 44 42.2091 44 40V4C44 1.79086 42.2091 0 40 0Z' fill='%2314CC9E'/%3E%3Cpath d='M30.0231 28.9584C30.0231 29.5441 29.5417 30.0233 28.9533 30.0233H15.0459C14.4575 30.0233 13.9761 29.5441 13.9761 28.9584V23.1012C13.9761 22.5155 14.3184 21.6955 14.7303 21.2855L21.24 14.8054C21.6573 14.3901 22.3366 14.3901 22.7538 14.8054L29.2636 21.2855C29.6808 21.7008 30.0231 22.5181 30.0231 23.1038V28.9584Z' fill='%23fff'/%3E%3C/svg%3E",
  "Home Assistant Yellow": "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44' fill='none'%3E%3Cpath d='M40 0H4C1.79086 0 0 1.79086 0 4V40C0 42.2091 1.79086 44 4 44H40C42.2091 44 44 42.2091 44 40V4C44 1.79086 42.2091 0 40 0Z' fill='%23FBB03B'/%3E%3Cpath d='M30.0241 28.9591C30.0241 29.5448 29.5427 30.024 28.9543 30.024H15.0469C14.4585 30.024 13.9771 29.5448 13.9771 28.9591V23.102C13.9771 22.5162 14.3194 21.6962 14.7313 21.2862L21.241 14.8061C21.6582 14.3908 22.3376 14.3908 22.7548 14.8061L29.2645 21.2862C29.6818 21.7016 30.0241 22.5188 30.0241 23.1045V28.9591Z' fill='white'/%3E%3C/svg%3E",
  "Home Assistant Voice Preview Edition": "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44' fill='none'%3E%3Cpath d='M40 0H4C1.79086 0 0 1.79086 0 4V40C0 42.2091 1.79086 44 4 44H40C42.2091 44 44 42.2091 44 40V4C44 1.79086 42.2091 0 40 0Z' fill='%23DB582E'/%3E%3Cpath d='M22 29.5059C17.8634 29.5059 14.4941 26.1366 14.4941 22C14.4941 17.8634 17.8634 14.4941 22 14.4941C26.1366 14.4941 29.5059 17.8634 29.5059 22C29.5059 26.1366 26.1366 29.5059 22 29.5059Z' fill='white'/%3E%3C/svg%3E",
  "Home Assistant Voice PE": "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44' fill='none'%3E%3Cpath d='M40 0H4C1.79086 0 0 1.79086 0 4V40C0 42.2091 1.79086 44 4 44H40C42.2091 44 44 42.2091 44 40V4C44 1.79086 42.2091 0 40 0Z' fill='%23DB582E'/%3E%3Cpath d='M22 29.5059C17.8634 29.5059 14.4941 26.1366 14.4941 22C14.4941 17.8634 17.8634 14.4941 22 14.4941C26.1366 14.4941 29.5059 17.8634 29.5059 22C29.5059 26.1366 26.1366 29.5059 22 29.5059Z' fill='white'/%3E%3C/svg%3E",
  "Home Assistant ZBT-1": "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44' fill='none'%3E%3Cpath d='M40 0H4C1.79086 0 0 1.79086 0 4V40C0 42.2091 1.79086 44 4 44H40C42.2091 44 44 42.2091 44 40V4C44 1.79086 42.2091 0 40 0Z' fill='%2300AEF8'/%3E%3Cpath d='M27.9527 13.6545C27.9527 12.6887 27.154 11.9058 26.1688 11.9058H18.3488C17.3637 11.9058 16.5649 12.6887 16.5649 13.6545L16.5649 28.4705H18.6355V33.6469H25.8826V28.4705H27.9532L27.9527 13.6545Z' fill='white'/%3E%3C/svg%3E",
  "Home Assistant Cloud": "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44' fill='none'%3E%3Cpath d='M40 0H4C1.79086 0 0 1.79086 0 4V40C0 42.2091 1.79086 44 4 44H40C42.2091 44 44 42.2091 44 40V4C44 1.79086 42.2091 0 40 0Z' fill='%23174B62'/%3E%3Cpath d='M31.6404 21.9952C31.6404 21.9201 31.6466 21.8461 31.6466 21.7701C31.6454 20.1893 31.1182 18.6516 30.1445 17.3895C29.1708 16.1276 27.8037 15.2098 26.2494 14.775C24.6953 14.3402 23.0386 14.4118 21.5297 14.9793C20.0209 15.5467 18.7418 16.579 17.886 17.9201C17.0104 17.6077 16.0757 17.4867 15.1473 17.5653C14.2188 17.644 13.3193 17.9208 12.5119 18.3758C11.7046 18.831 11.0088 19.4535 10.4738 20.1997C9.93869 20.9459 9.57737 21.7977 9.415 22.6953C9.25263 23.5927 9.29318 24.5141 9.53389 25.3946C9.77459 26.2751 10.2096 27.0934 10.8083 27.7918C11.4071 28.4902 12.1549 29.052 12.9994 29.4375C13.8438 29.8231 14.7644 30.023 15.6961 30.0233H25.9792L26.1412 30.0234H26.4L27.6954 30.0233H31.0521C32.099 30.0293 33.1089 29.6456 33.8771 28.9502C34.6453 28.2548 35.1145 27.2998 35.1892 26.2785C35.2641 25.2574 34.939 24.2465 34.2798 23.4511C33.6209 22.6557 32.6774 22.1352 31.6404 21.9952Z' fill='white'/%3E%3C/svg%3E"
);
$icon-colors: (
  "Home Assistant Green": #14CC9E,
  "Home Assistant Yellow": #FBB03B,
  "Home Assistant Voice Preview Edition": #DB582E,
  "Home Assistant Voice PE": #DB582E,
  "Home Assistant ZBT-1": #00AEF8,
  "Home Assistant Cloud": #174B62
);

$homepage-hide-categories: (
  "Yellow Standard CM4",
  "Yellow Kit CM4",
  "Yellow Kit CM4 NVMe",
  "Yellow Kit CM4 PoE",
  "Yellow Kit CM4 NVMe PoE",
  "Yellow Kit CM5",
  "Yellow Kit CM5 NVMe",
  "Yellow Kit CM5 PoE",
  "Yellow Kit CM5 NVMe PoE",
);

.item-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.horizontal {
    @include tablet {
      flex-direction: row;

      .item-card {
        flex-basis: 0;
        flex-grow: 1;

        &-content {
          height: 100%;
        }

        &-description {
          flex-grow: 1;
        }
      }
    }
  }
}

a.item-card {
  cursor: pointer;
  transition: box-shadow 0.15s ease-in-out, border-color 0.15s ease-in-out;

  &:hover {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

.item-card {
  background-color: #fff;
  display: flex;
  border: 1px solid #CCC;
  border-radius: 8px;
  color: #000;
  padding: 1.5rem;
  gap: 1.5rem;
  position: relative;
  overflow: hidden;

  @include tablet {
    padding: 2rem;
    gap: 1.5rem;
  }


  &:before {
    display: block;
    height: 44px;
    width: 44px;
    flex-shrink: 0;
  }

  @each $icon, $url in $icon-images {
    &[data-name="#{$icon}"] {
      &:before {
        background-image: url("#{$url}");
        content: '';
      }
    }
  }

  @each $icon, $color in $icon-colors {
    &[data-name="#{$icon}"] {
      &:hover {
        border-color: $color;
      }
    }
  }

  @each $category in $homepage-hide-categories {
    &[data-name="#{$category}"] {
      display: none;
    }
  }

  &.primary {
    background-color: #CCEFFE;
    border-color: #99DFFC;

    .item-card-description {
      color: #174B62;
    }
  }

  &.small {
    padding: 1.5rem;
  }

  &.small & {
    &-title {
      font-size: 18px;
    }
  }

  &.product {
    background-position: center;
    background-size: cover;
    height: 16rem;
    padding: 1rem;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
      z-index: 0;
    }

    &,
    .item-card-description {
      color: #fff;
    }

    .item-card-title,
    .item-card-description {
      z-index: 1;
    }

    .item-card-details {
      justify-content: flex-end;
    }

    .item-card-content {
      gap: .5rem;
    }

    .item-card-title {
      font-size: 18px;

      @include tablet {
        font-size: 22px;
      }
    }

    .item-card-description {
      font-size: 14px;
    }

    &-green {
      background-image: url('https://www.home-assistant.io/images/frontpage/green-frontpage.jpg');
    }

    &-yellow {
      background-image: url('https://www.home-assistant.io/images/frontpage/yellow-frontpage.jpg');
    }
  }

  &-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      gap: 1.5rem;
    }
  }

  &-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: .5rem;

    @include tablet {
      gap: 1rem;
    }
  }

  &-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;

    @include tablet {
      font-size: 28px;
    }
  }

  &-description {
    color: $secondary-text-color;
  }

  &-buttons {
    display: flex;
    gap: .5rem 1rem;
    flex-wrap: wrap;
  }

  &-pills {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  &-pill {
    background-color: #CCEFFE;
    color: #5A7D8C;
    padding: 4px 8px;
    font-weight: 500;
    font-size: 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

    &:hover {
      background-color: #00AEF8;
      color: #fff;
    }
  }
}